<div class="all-news-block">
    <h3 class="news-title">
        <span>Latest Articles</span>
    </h3>
    <div class="all-news">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="post-block-wrapper post-float-half clearfix">
                    <div class="post-thumbnail">
                        <a href="single-post.html">
                            <img class="img-fluid" src="images/news/news-01.jpg" alt="post-thumbnail"/>
                        </a>
                    </div>
                    <div class="post-content">
                        <a class="post-category" href="post-category-2.html">Google</a>
                        <h2 class="post-title mt-3">
                            <a href="single-post.html">Ex-Googler warns coding bootcamps are lacking</a>
                        </h2>
                        <div class="post-meta">
                            <span class="posted-time">an hour ago</span>
                            <span class="post-author">by
                                <a href="author.html">John Snow</a>
                            </span>
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel eaque, aliquid accusamus 
                            soluta!...
                        </p>
                    </div>
                </div>
            </div>
                
            <div class="col-lg-6 col-md-6">
                <div class="post-block-wrapper post-float-half clearfix">
                   <div class="post-thumbnail">
                        <a href="single-post.html">
                            <img class="img-fluid" src="images/news/news-12.jpg" alt="post-thumbnail"/>
                        </a>
                    </div>
                    <div class="post-content">
                        <a class="post-category" href="post-category-2.html">Health</a>
                        <h2 class="post-title mt-3">
                            <a href="single-post.html">Today Is the Day Most People Quit Their New Year's Party</a>
                        </h2>
                        <div class="post-meta">
                            <span class="posted-time">4 hours ago</span>
                            <span class="post-author">by
                                <a href="author.html">Rimmon Ronnick</a>
                            </span>
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corporis blanditiis hic 
                            cumque excepturi...
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>