<section class="featured-posts">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-md-12 col-xs-12 col-sm-12 col-lg-4">
                <div class="row">
                    <div class="col-md-12 col-xs-12 col-sm-6 col-lg-12">
                        <div class="post-featured-style" style="background-image:url(images/news/news-02.jpg)">
                            <div class="post-content">
                                <a href="#" class="post-cat bg-success">lifestyle</a>
                                <h3 class="post-title">
                                    <a href="single-post.html">Healthy diet to keep you healthy and strong</a>
                                </h3>
                                <div class="post-meta mt-2">
                                    <span class="posted-time"><i class="fa fa-clock-o mr-2 text-danger"></i>19 hours ago</span>
                                    <span class="post-author">
                                        <span> by </span>
                                        <a href="author.html">Rodinho Summon</a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 col-xs-12 col-sm-6 col-lg-12">
                        <div class="post-featured-style" style="background-image:url(images/news/news-04.jpg)">
                            <div class="post-content">
                                <a href="#" class="post-cat bg-info">travel</a>
                                <h3 class="post-title">
                                    <a href="single-post.html">Call Of Duty: Black Ops 4 Releasing</a>
                                </h3>
                                <div class="post-meta mt-2">
                                    <span class="posted-time"><i class="fa fa-clock-o mr-2 text-danger"></i>19 hours ago</span>
                                    <span class="post-author">
                                        <span> by </span>
                                        <a href="author.html">Rodinho Summon</a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-xs-12 col-lg-4">
                 <div class="featured-slider">
                    <div class="item ml-lg-3 mr-lg-3" style="background-image:url(images/news/img-2.jpg)">
                        <div class="post-content">
                            <a href="#" class="post-cat bg-danger">game</a>
                            <h3 class="slider-post-title">
                                <a href="single-post.html">Call Of Duty: Black Ops 4 Releasing</a>
                            </h3>
                            <div class="post-meta mt-2">
                                <span class="posted-time"><i class="fa fa-clock-o mr-2 text-danger"></i>19 hours ago</span>
                                <span class="post-author">
                                    <span> by </span>
                                    <a href="author.html">Rodinho Summon</a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-xs-12 col-lg-4">
                <div class="featured-slider">
                    <div class="item mr-0" style="background-image:url(images/news/img-1.jpg)">
                        <div class="post-content">
                            <a href="#" class="post-cat bg-primary">Entertainment</a>
                            <h3 class="slider-post-title">
                                <a href="single-post.html">Here's How To Get Free Pizza On</a>
                            </h3>
                            <div class="post-meta mt-2">
                                <span class="posted-time"><i class="fa fa-clock-o mr-2 text-danger"></i>19 hours ago</span>
                                <span class="post-author">
                                    by
                                    <a href="author.html">Rodinho Summon</a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
