<div id="comments" class="comments-block block">
    <h3 class="news-title">
        <span>02 Comments</span>
    </h3>
    <ul class="all-comments">
        <li>
            <div class="comment">
                <img class="commented-person" alt="" src="images/news/author-01.jpg">
                <div class="comment-body">
                    <div class="meta-data">
                        <span class="commented-person-name">Jack Anderson</span>
                        <span class="comment-hour d-block"><i class="fa fa-clock-o mr-2"></i>February 6, 2019 at 12:20 pm</span>
                    </div>
                    <div class="comment-content">
                        <p>
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta perferendis asperiores
                             voluptatum saepe repellat atque obcaecati dolores nulla, explicabo harum inventore 
                             sed corrupti molestiae aspernatur.
                        </p>
                    </div>
                    <div class="text-left">
                        <a class="comment-reply" href="#"><i class="fa fa-reply"></i> Reply</a>
                    </div>
                </div>
            </div>
            <ul class="comments-reply">
                <li>
                    <div class="comment">
                        <img class="commented-person" alt="" src="images/news/author-02.jpg">
                        <div class="comment-body">
                            <div class="meta-data">
                                <span class="commented-person-name">Jhonny American</span>
                                <span class="comment-hour d-block"><i class="fa fa-clock-o mr-2"></i>March 9, 2019 at 12:20 pm</span>
                            </div>
                            <div class="comment-content">
                                <p>
                                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui expedita magnam ea 
                                    tempora consectetur fugit dolorum numquam at obcaecati voluptatibus.
                                </p>
                            </div>
                            <div class="text-left">
                                <a class="comment-reply" href="#"><i class="fa fa-reply"></i> Reply</a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="comment last">
                <img class="commented-person" alt="" src="images/news/author-03.jpg">
                <div class="comment-body">
                    <div class="meta-data">
                        <span class="commented-person-name">Vicky Fong</span>
                        <span class="comment-hour d-block"><i class="fa fa-clock-o mr-2"></i>June 6, 2019 at 12:20 pm</span>
                    </div>
                    <div class="comment-content">
                        <p>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error, ipsa dolor exercitationem 
                            culpa obcaecati illo veniam voluptatem perferendis hic nisi tempora omnis, mollitia unde doloribus.
                        </p>
                    </div>
                    <div class="text-left">
                        <a class="comment-reply" href="#"><i class="fa fa-reply"></i> Reply</a>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>

<div class="comment-form ">
    <h3 class="title-normal">Leave a Reply </h3>
    <p class="mb-4">Your email address will not be published. Required fields are marked *</p>
    <form role="form">
        <div class="row">
             <div class="col-md-12">
                <div class="form-group">
                    <textarea class="form-control required-field" id="message" placeholder="Messege" rows="8" required></textarea>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <input class="form-control" name="name" id="name" placeholder="Name" type="text" required>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <input class="form-control" name="email" id="email" placeholder="Email" type="email" required>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <input class="form-control" type="text" placeholder="Website" required>
                </div>
            </div>
           
            <div class="col-md-12">
                <button class="comments-btn btn btn-primary " type="submit">Post Comment</button>
            </div>
        </div>
    </form>
</div>
