<section class="featured-posts p-0">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-xs-12 pr-2">
                <div class="featured-slider-two content-bottom">
                    <div class="item" style="background-image:url(images/news/news-09.jpg)">
                        <div class="featured-post">
                            <div class="post-content">
                                <a class="post-category white" href="post-category-2.html">Tech</a>
                                <h2 class="post-title title-xl">
                                    <a href="single-post.html">YouTube will remove ads and downgrade the speed</a>
                                </h2>
                                <div class="post-meta white">
                                    <span class="posted-time">5 hours ago</span>
                                    <span> by </span>
                                    <span class="post-author">
                                        <a href="author.html">John Doe</a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item" style="background-image:url(images/news/news-18.jpg)">
                        <div class="featured-post">
                            <div class="post-content">
                                <a class="post-category white" href="post-category-2.html">Beauty</a>
                                <h2 class="post-title title-xl">
                                    <a href="single-post.html">The Best Eye Makeup Tutorials for Beautiful Girls</a>
                                </h2>
                                <div class="post-meta white">
                                    <span class="posted-time">5 hours ago</span>
                                    <span> by </span>
                                    <span class="post-author">
                                        <a href="author.html">John Doe</a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item" style="background-image:url(images/news/news-15.jpg)">
                        <div class="featured-post">
                            <div class="post-content">
                                <a class="post-category white" href="post-category-2.html">Fashion</a>
                                <h2 class="post-title title-xl">
                                    <a href="single-post.html">First Look At Self-Portrait's Autumn Collection</a>
                                </h2>
                                <div class="post-meta white">
                                    <span class="posted-time">5 hours ago</span>
                                    <span> by </span>
                                    <span class="post-author">
                                        <a href="author.html">John Doe</a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-5 col-xs-12 pl-2">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="post-overlay-wrapper hot-post-top clearfix">
                            <div class="post-thumbnail">
                                <a href="#">
                                    <img class="img-fluid" src="images/news/news-05.jpg" alt="post-thumbnail"/>
                                </a>
                            </div>
                            <div class="post-content">
                                <a class="post-category white" href="post-category-2.html">Food</a>
                                <h2 class="post-title title-large">
                                    <a href="single-post.html">Free Two-Hour Delivery From Whole Foods...</a>
                                </h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 pr-1">
                        <div class="post-overlay-wrapper hot-post-bottom clearfix">
                            <div class="post-thumbnail">
                                <a href="#">
                                    <img class="img-fluid" src="images/news/news-03.jpg" alt="post-thumbnail"/>
                                </a>
                            </div>
                            <div class="post-content">
                                <a class="post-category white" href="post-category-2.html">Apple</a>
                                <h2 class="post-title title-medium">
                                    <a href="single-post.html">Apple HomePod review: locked in...</a>
                                </h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 pl-1">
                        <div class="post-overlay-wrapper hot-post-bottom clearfix">
                            <div class="post-thumbnail">
                                <a href="#">
                                    <img class="img-fluid" src="images/news/news-11.jpg" alt="post-thumbnail"/>
                                </a>
                            </div>
                            <div class="post-content">
                                <a class="post-category white" href="post-category-2.html">Tour</a>
                                <h2 class="post-title title-medium">
                                    <a href="single-post.html">Snow and Freezing Rain in Paris Forces the...</a>
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
