<footer class="footer footer-main ">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-sm-12 col-lg-6 text-center">
                <a href="index.html"><img src="images/logos/footer-logo.png" alt="" class="img-fluid"></a>
                <p class="mt-4">We perfectly balances the simplicity of a clean, eye-catching blog with the flexibility to create unique page layouts.</p>

                <ul class="list-inline footer-social">
                    <li class="li list-inline-item"><a href="https://www.facebook.com/themefisher"><i class="fa fa-facebook"></i></a></li>
                    <li class="li list-inline-item"><a href="https://twitter.com/themefisher"><i class="fa fa-twitter"></i></a></li>
                    <li class="li list-inline-item"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li class="li list-inline-item"><a href="#"><i class="fa fa-pinterest"></i></a></li>
                    <li class="li list-inline-item"><a href="#"><i class="fa fa-rss"></i></a></li>
                    <li class="li list-inline-item"><a href="#"><i class="fa fa-youtube"></i></a></li>
                </ul>

                <div class="copyright-text text-center">
                    <p class="mb-0">© All Copyright Reserved to - <a href="https://themefisher.com/" target="_blank">Themefisher</a></p>
                </div>
            </div>

            <div class="scroll-to-top">
                <button class="btn btn-primary" title="Back to Top">
                    <i class="fa fa-angle-up"></i>
                </button>
            </div>
        </div>
    </div>
</footer>
