<nav aria-label="pagination-wrapper" class="pagination-wrapper">
  <ul class="pagination justify-content-center">
    <li class="page-item active">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true"><i class="fa fa-angle-double-left mr-2"></i></span>
        <span class="">Previous</span>
      </a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next">
        <span class="">Next</span>
        <span aria-hidden="true"><i class="fa fa-angle-double-right ml-2"></i></span>
      </a>
    </li>
  </ul>
</nav>