<div class="news-style-three">
    <h3 class="news-title">
        <span>Lifestyle</span>
    </h3>
    <div class="row">
        <div class="col-md-6 col-sm-6">
            <div class="post-overlay-wrapper clearfix">
                <div class="post-thumbnail">
                    <img class="img-fluid" src="images/news/news-11.jpg" alt="post-thumbnail"/>
                </div>

                <div class="post-content">
                    <a class="post-category white" href="post-category-2.html">Tour</a>
                    <h2 class="post-title">
                        <a href="single-post.html">Snow and Freezing Rain in Paris Forces the</a>
                    </h2>
                    <div class="post-meta white">
                        <span class="posted-time">3 hours ago</span>
                        <span class="post-author">by
                            <a href="author.html">Jane Snow</a>
                        </span>
                        <span class="pull-right">
                            <i class="fa fa-eye"></i>
                            <span>565</span>
                            <i class="fa fa-comments"></i>
                            <a href="single-post.html#comments">05</a>
                        </span>
                    </div>
                </div>
            </div>
            <div class="post-list-block">
                <ul class="post-list">
                    <li >
                        <div class="post-block-wrapper post-float clearfix">
                            <div class="post-thumbnail">
                                <a href="single-post.html">
                                    <img class="img-fluid" src="images/news/news-09.jpg" alt="post-thumbnail"/>
                                </a>
                            </div>

                            <div class="post-content">
                                <h2 class="post-title title-sm">
                                    <a href="single-post.html">YouTube will remove ads and downgrade</a>
                                </h2>
                                <div class="post-meta">
                                    <span class="posted-time">an hour ago</span>
                                    <span class="post-author">by
                                        <a href="author.html">Soumin Dhar</a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li >
                        <div class="post-block-wrapper post-float clearfix">
                            <div class="post-thumbnail">
                                <a href="single-post.html">
                                    <img class="img-fluid" src="images/news/news-12.jpg" alt="post-thumbnail"/>
                                </a>
                            </div>

                            <div class="post-content">
                                <h2 class="post-title title-sm">
                                    <a href="single-post.html">Today Is the Day Most People Quit Their New Year's</a>
                                </h2>
                                <div class="post-meta">
                                    <span class="posted-time">2 hours ago</span>
                                    <span class="post-author">by
                                        <a href="author.html">Hasin Mullah</a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li >
                        <div class="post-block-wrapper post-float clearfix">
                            <div class="post-thumbnail">
                                <a href="single-post.html">
                                    <img class="img-fluid" src="images/news/news-13.jpg" alt="post-thumbnail"/>
                                </a>
                            </div>

                            <div class="post-content">
                                <h2 class="post-title title-sm">
                                    <a href="single-post.html">An Asteroid Is Passing Earth Today: Here's How to</a>
                                </h2>
                                <div class="post-meta">
                                    <span class="posted-time">9 hours ago</span>
                                    <span class="post-author">by
                                        <a href="author.html">Robert Hack</a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li >
                        <div class="post-block-wrapper post-float clearfix">
                            <div class="post-thumbnail">
                                <a href="single-post.html">
                                    <img class="img-fluid" src="images/news/news-14.jpg" alt="post-thumbnail"/>
                                </a>
                            </div>

                            <div class="post-content">
                                <h2 class="post-title title-sm">
                                    <a href="single-post.html">Snow and Freezing Rain in Paris Forces the</a>
                                </h2>
                                <div class="post-meta">
                                    <span class="posted-time">10 hours ago</span>
                                    <span class="post-author">by
                                        <a href="author.html">Raskin Bond</a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-6 col-sm-6">
            <div class="post-overlay-wrapper last clearfix">
                <div class="post-thumbnail">
                    <img class="img-fluid" src="images/news/news-10.jpg" alt="post-thumbnail"/>
                </div>
                <div class="post-content">
                    <h2 class="post-title">
                        <a href="single-post.html">Free Two-Hour Delivery From Whole Foods</a>
                    </h2>
                    <div class="post-meta white">
                        <span class="posted-time">2 hours ago</span>
                        <span class="post-author">by
                            <a href="author.html">John Doe</a>
                        </span>
                        <span class="pull-right">
                            <i class="fa fa-eye"></i>
                            <span>565</span>
                            <i class="fa fa-comments"></i>
                            <a href="single-post.html#comments">05</a>
                        </span>
                    </div>
                </div>
            </div>
            <div class="post-list-block">
                <ul class="post-list">
                    <li >
                        <div class="post-block-wrapper post-float clearfix">
                            <div class="post-thumbnail">
                                <a href="single-post.html">
                                    <img class="img-fluid" src="images/news/news-14.jpg" alt="post-thumbnail"/>
                                </a>
                            </div>

                            <div class="post-content">
                                <h2 class="post-title title-sm">
                                    <a href="single-post.html">Snow and Freezing Rain in Paris Forces the</a>
                                </h2>
                                <div class="post-meta">
                                    <span class="posted-time">12 hours ago</span>
                                    <span class="post-author">by
                                        <a href="author.html">Jarkan Formon</a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li >
                        <div class="post-block-wrapper post-float clearfix">
                            <div class="post-thumbnail">
                                <a href="single-post.html">
                                    <img class="img-fluid" src="images/news/news-05.jpg" alt="post-thumbnail"/>
                                </a>
                            </div>

                            <div class="post-content">
                                <h2 class="post-title title-sm">
                                    <a href="single-post.html">Here's How To Get Free Pizza On</a>
                                </h2>
                                <div class="post-meta">
                                    <span class="posted-time">14 hours ago</span>
                                    <span class="post-author">by 
                                        <a href="author.html">Jamalick Kourt</a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li >
                        <div class="post-block-wrapper post-float clearfix">
                            <div class="post-thumbnail">
                                <a href="single-post.html">
                                    <img class="img-fluid" src="images/news/news-07.jpg" alt="post-thumbnail"/>
                                </a>
                            </div>

                            <div class="post-content">
                                <h2 class="post-title title-sm">
                                    <a href="single-post.html">Your social media apps want to help</a>
                                </h2>
                                <div class="post-meta">
                                    <span class="posted-time">14 hours ago</span>
                                    <span class="post-author">by 
                                        <a href="author.html">Jame Anderson</a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li >
                        <div class="post-block-wrapper post-float clearfix">
                            <div class="post-thumbnail">
                                <a href="single-post.html">
                                    <img class="img-fluid" src="images/news/news-11.jpg" alt="post-thumbnail"/>
                                </a>
                            </div>

                            <div class="post-content">
                                <h2 class="post-title title-sm">
                                    <a href="single-post.html">Snow and Freezing Rain in Paris Forces the</a>
                                </h2>
                                <div class="post-meta">
                                    <span class="posted-time">19 hours ago</span>
                                    <span class="post-author">by
                                        <a href="author.html">John Snow</a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>