<div class="news-style-one">
    <h3 class="news-title">
        <span>Editor Picks</span>
    </h3>
    <div class="news-style-one-slide">
        <div class="item">
            <div class="post-block-wrapper clearfix mb-5">
                <div class="post-thumbnail">
                    <a href="single-post.htm">
                        <img class="img-fluid" src="images/news/news-01.jpg" alt="post-image"/>
                    </a>
                </div>
                <div class="post-content">
                    <h2 class="post-title mt-3">
                        <a href="single-post.html">Ex-Googler warns coding bootcamps are lacking</a>
                    </h2>
                    <div class="post-meta mb-2">
                        <span class="posted-time"><i class="fa fa-clock-o mr-2"></i>5 hours ago</span>
                        <span class="post-author">
                            by
                            <a href="author.html">Tarnak Sunder</a>
                        </span>
                    </div>
                     <p>Suscipit beatae facilis doloribus aliquam sed expedita accusantium itaque assumenda laborum facere aliquid hic.</p>
                </div>
            </div>


            <div class="post-block-wrapper clearfix mb-5 ">
                <div class="post-thumbnail">
                    <a href="single-post.htm">
                        <img class="img-fluid" src="images/news/news-02.jpg" alt="post-thumbnail"/>
                    </a>
                </div>
                <div class="post-content">
                    <h2 class="post-title">
                        <a href="single-post.html">Extra Crunch The next service marketplace wave: Vertical </a>
                    </h2>
                    <div class="post-meta mb-2">
                        <span class="posted-time"><i class="fa fa-clock-o mr-2"></i>5 hours ago</span>
                        <span class="post-author">
                            by
                            <a href="author.html">Tarnak Sunder</a>
                        </span>
                    </div>
                     <p>Suscipit beatae facilis doloribus aliquam sed expedita accusantium itaque assumenda laborum facere aliquid hic.</p>
                </div>
            </div>
        </div>

        <div class="item">
            <div class="post-block-wrapper clearfix mb-5">
                <div class="post-thumbnail">
                    <a href="single-post.htm">
                        <img class="img-fluid" src="images/news/news-03.jpg" alt="post-thumbnail"/>
                    </a>
                </div>
                <div class="post-content">
                    <h2 class="post-title ">
                        <a href="single-post.html">Apple HomePod review: locked in device to start out</a>
                    </h2>
                    <div class="post-meta mb-2">
                        <span class="posted-time"><i class="fa fa-clock-o mr-2"></i>5 hours ago</span>
                        <span class="post-author">
                            by
                            <a href="author.html">Tarnak Sunder</a>
                        </span>
                    </div>
                     <p>Suscipit beatae facilis doloribus aliquam sed expedita accusantium itaque assumenda laborum facere aliquid hic.</p>
                </div>
            </div>


            <div class="post-block-wrapper clearfix mb-5">
                <div class="post-thumbnail">
                    <a href="single-post.htm">
                        <img class="img-fluid" src="images/news/news-04.jpg" alt="post-thumbnail"/>
                    </a>
                </div>
                <div class="post-content">
                    <h2 class="post-title title-lg">
                        <a href="single-post.html">Intel’s new smart glasses actually look good</a>
                    </h2>
                    <div class="post-meta mb-2">
                        <span class="posted-time"><i class="fa fa-clock-o mr-2"></i>5 hours ago</span>
                        <span class="post-author">
                            by
                            <a href="author.html">Tarnak Sunder</a>
                        </span>
                    </div>
                     <p>Suscipit beatae facilis doloribus aliquam sed expedita accusantium itaque assumenda laborum facere aliquid Reiciendis.</p>
                     
                </div>
            </div>
        </div>

        <div class="item">
            <div class="post-block-wrapper clearfix  mb-5">
                <div class="post-thumbnail">
                    <a href="single-post.htm">
                        <img class="img-fluid" src="images/news/news-05.jpg" alt="post-thumbnail"/>
                    </a>
                </div>
                <div class="post-content">
                    <h2 class="post-title">
                        <a href="single-post.html">Here's How To Get Free Pizza On lets check it out</a>
                    </h2>
                    <div class="post-meta mb-2">
                        <span class="posted-time"><i class="fa fa-clock-o mr-2"></i>5 hours ago</span>
                        <span class="post-author">
                            by
                            <a href="author.html">Tarnak Sunder</a>
                        </span>
                    </div>
                     <p>Suscipit beatae facilis doloribus aliquam sed expedita accusantium itaque assumenda laborum facere aliquid hic.</p>
                    
                </div>
            </div>


            <div class="post-block-wrapper clearfix  mb-5">
                <div class="post-thumbnail">
                    <a href="single-post.htm">
                        <img class="img-fluid" src="images/news/news-06.jpg" alt="post-thumbnail"/>
                    </a>
                </div>
                <div class="post-content">
                    <h2 class="post-title">
                        <a href="single-post.html">Call Of Duty: Black Ops 4 Releasing</a>
                    </h2>

                    <div class="post-meta mb-2">
                        <span class="posted-time"><i class="fa fa-clock-o mr-2"></i>5 hours ago</span>
                        <span class="post-author">
                            by
                            <a href="author.html">Tarnak Sunder</a>
                        </span>
                    </div>
                     <p>Suscipit beatae facilis doloribus aliquam sed expedita accusantium itaque assumenda laborum facere aliquid similique.</p>
                     
                </div>
            </div>
        </div>
        <div class="item">
            <div class="post-block-wrapper clearfix  mb-5">
                <div class="post-thumbnail">
                    <a href="single-post.htm">
                        <img class="img-fluid" src="images/news/news-07.jpg" alt="post-thumbnail"/>
                    </a>
                </div>
                <div class="post-content">
                    <h2 class="post-title">
                        <a href="single-post.html">Your social media apps want to help</a>
                    </h2>
                    <div class="post-meta mb-2">
                        <span class="posted-time"><i class="fa fa-clock-o mr-2"></i>5 hours ago</span>
                        <span class="post-author">
                            by
                            <a href="author.html">Tarnak Sunder</a>
                        </span>
                    </div>
                     <p>Suscipit beatae facilis doloribus aliquam sed expedita accusantium itaque assumenda laborum facere aliquid hic.</p>
                </div>
            </div>


            <div class="post-block-wrapper clearfix  mb-5">
                <div class="post-thumbnail">
                    <a href="single-post.htm">
                        <img class="img-fluid" src="images/news/news-08.jpg" alt="post-thumbnail"/>
                    </a>
                </div>
                <div class="post-content">
                    <h2 class="post-title">
                        <a href="single-post.html">PS4 Games Sale: All The PSN Deals</a>
                    </h2>
                    <div class="post-meta mb-2">
                        <span class="posted-time"><i class="fa fa-clock-o mr-2"></i>5 hours ago</span>
                        <span class="post-author">
                            by
                            <a href="author.html">Tarnak Sunder</a>
                        </span>
                    </div>
                     <p>Suscipit beatae facilis doloribus aliquam sed expedita accusantium itaque assumenda laborum facere aliquid Reiciendis.</p>
                </div>
            </div>
        </div>
    </div>
</div>