<div class="post-block-wrapper post-list-view clearfix">
    <div class="row">
        <div class="col-md-5 col-sm-6">
            <div class="post-thumbnail thumb-float-style">
                <a href="single-post.html">
                    <img class="img-fluid" src="images/news/news-05.jpg" alt="" />
                </a>
            </div>
        </div>
        <div class="col-md-7 col-sm-6">
            <div class="post-content">
                 <div class="post-meta">
                    <span>
                        <i class="fa fa-clock-o"></i>
                        <a href="single-post.html#comments">17 june,2019</a>
                    </span>
                   
                      <span class="post-author">
                        <a href="author.html" class="text-dark">by Robert Martin </a>
                    </span>
                </div>
                <h2 class="post-title title-large ">
                    <a href="single-post.html">10 critical points from epic security manifesto inability</a>
                </h2>
               
                
                <p>
                    A mobile app without motion is just a sequence of independent screens. But when designers introduce motion.
                </p>
                
            </div>
        </div>
    </div>
</div>

<div class="post-block-wrapper post-list-view clearfix">
    <div class="row">
        <div class="col-md-5 col-sm-6">
            <div class="post-thumbnail thumb-float-style">
                <a href="single-post.html">
                    <img class="img-fluid" src="images/news/news-02.jpg" alt="" />
                </a>
            </div>
        </div>
        <div class="col-md-7 col-sm-6">
            <div class="post-content">
                 <div class="post-meta">
                     <span>
                        <i class="fa fa-clock-o"></i>
                        <a href="single-post.html#comments">17 june,2019</a>
                    </span>
                   
                      <span class="post-author">
                        <a href="author.html" class="text-dark">by Robert Martin </a>
                    </span>
                </div>
                <h2 class="post-title title-large">
                    <a href="single-post.html">Tourism in Dubai is booming the tourist most visited</a>
                </h2>
                
                 <p>
                    The true power of motion can be seen in mobile experiences.Is just a sequence of independent screens. But when designers introduce motion.
                </p>

            </div>
        </div>
    </div>
</div>

<div class="post-block-wrapper post-list-view clearfix">
    <div class="row">
        <div class="col-md-5 col-sm-6">
            <div class="post-thumbnail thumb-float-style">
                <a href="single-post.html">
                    <img class="img-fluid" src="images/news/news-03.jpg" alt="" />
                </a>
            </div>
        </div>
        <div class="col-md-7 col-sm-6">
            <div class="post-content">
                 <div class="post-meta">
                     <span>
                        <i class="fa fa-clock-o"></i>
                        <a href="single-post.html#comments">17 june,2019</a>
                    </span>
                   
                      <span class="post-author">
                        <a href="author.html" class="text-dark">by Robert Martin </a>
                    </span>
                </div>
                <h2 class="post-title title-large">
                    <a href="single-post.html">Hands on with the Apple Watch Series 4 to block users</a>
                </h2>
                
                 <p>
                    The true power of motion can be seen in mobile experiences. A mobile app without motion is just a sequence.
                </p>

            </div>
        </div>
    </div>
</div>

<div class="post-block-wrapper post-list-view clearfix">
    <div class="row">
        <div class="col-md-5 col-sm-6">
            <div class="post-thumbnail thumb-float-style">
                <a href="single-post.html">
                    <img class="img-fluid" src="images/news/news-11.jpg" alt="" />
                </a>
                <!-- <a class="post-category white" href="post-category-1.html">Samsung</a> -->
            </div>
        </div>
        <div class="col-md-7 col-sm-6">
            <div class="post-content">
                 <div class="post-meta">
                     <span>
                        <i class="fa fa-clock-o"></i>
                        <a href="single-post.html#comments">17 june,2019</a>
                    </span>
                   
                      <span class="post-author">
                        <a href="author.html" class="text-dark">by Robert Martin </a>
                    </span>
                </div>
                <h2 class="post-title title-large">
                    <a href="single-post.html">Beats did announce something today, after all</a>
                </h2>
                <p>
                    The true power of motion can be seen in mobile experiences. But when designers introduce motion.
                </p>

            </div>
        </div>
    </div>
</div>

<div class="post-block-wrapper post-list-view clearfix">
    <div class="row">
        <div class="col-md-5 col-sm-6">
            <div class="post-thumbnail thumb-float-style">
                <a href="single-post.html">
                    <img class="img-fluid" src="images/news/news-01.jpg" alt="" />
                </a>
            </div>
        </div>
        <div class="col-md-7 col-sm-6">
            <div class="post-content">
                <div class="post-meta">
                     <span>
                        <i class="fa fa-clock-o"></i>
                        <a href="single-post.html#comments">17 june,2019</a>
                    </span>
                   
                      <span class="post-author">
                        <a href="author.html" class="text-dark">by Robert Martin </a>
                    </span>
                </div>
                <h2 class="post-title title-large">
                    <a href="single-post.html">PS4 Games Sale: All The PSN Deals </a>
                </h2>
                
                 <p>
                    The true power of motion can be seen in mobile experiences. A mobile app without motion is just a sequence of independent screens. But when designers introduce motion.
                </p>

            </div>
        </div>
    </div>
</div>
