<nav class="post-navigation clearfix">
    <div class="previous-post">
        <a href="single-post.html">
            <h6 class="text-uppercase">Next</h6>
            <h3>
                 Intel’s new smart glasses actually look good
            </h3>
        </a>
    </div>
    <div class="next-post">
        <a href="single-post.html">
            <h6 class="text-uppercase">Previous</h6>

            <h3>
                 Free Two-Hour Delivery From Whole Foods
            </h3>
        </a>
    </div>
</nav>