<div class="row">
    <div class="col-md-6 col-sm-6">
        <div class="post-block-wrapper post-grid-view clearfix">
            <div class="post-thumbnail">
                <a href="single-post.html">
                    <img class="img-fluid" src="images/news/news-17.jpg" alt="post-thumbnail"/>
                </a>
            </div>
            <div class="post-content">
                <a class="post-category" href="post-category-2.html">Google</a>
                <h2 class="post-title mt-3">
                    <a href="single-post.html">Ex-Googler warns coding bootcamps are lacking</a>
                </h2>
                <div class="post-meta">
                    <span class="posted-time">an hour ago</span>
                    <span class="post-author">by
                        <a href="author.html">John Snow</a>
                    </span>
                </div>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel eaque, aliquid accusamus 
                    soluta!...
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-6">
        <div class="post-block-wrapper post-grid-view clearfix">
            <div class="post-thumbnail">
                <a href="single-post.html">
                    <img class="img-fluid" src="images/news/news-05.jpg" alt="post-thumbnail"/>
                </a>
            </div>
            <div class="post-content">
                <a class="post-category" href="post-category-2.html">Food</a>
                <h2 class="post-title mt-3">
                    <a href="single-post.html">Here's How To Get Free Pizza On</a>
                </h2>
                <div class="post-meta">
                    <span class="posted-time">an hour ago</span>
                    <span class="post-author">by
                        <a href="author.html">John Snow</a>
                    </span>
                </div>
                
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus rerum eius eum, 
                    sapiente consequuntur tempore reiciendis harum ducimus repellendus officiis?
                </p>               
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-6">
        <div class="post-block-wrapper post-grid-view clearfix">
            <div class="post-thumbnail">
                <a href="single-post.html">
                    <img class="img-fluid" src="images/news/news-14.jpg" alt="post-thumbnail"/>
                </a>
            </div>
            <div class="post-content">
                <a class="post-category" href="post-category-2.html">Travel</a>
                
                <h2 class="post-title mt-3">
                    <a href="single-post.html">Snow and Freezing Rain in Paris Forces the</a>
                </h2>
               
               <div class="post-meta">
                    <span class="posted-time">an hour ago</span>
                    <span class="post-author">by
                        <a href="author.html">John Snow</a>
                    </span>
                </div>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis corporis officia totam 
                    autem adipisci sapiente dignissimos quae eaque odit nostrum?
                </p>

            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-6">
        <div class="post-block-wrapper post-grid-view clearfix">
            <div class="post-thumbnail">
                <a href="single-post.html">
                    <img class="img-fluid" src="images/news/news-04.jpg" alt="post-thumbnail"/>
                </a>
            </div>
            <div class="post-content">
                <a class="post-category" href="post-category-2.html">Google</a>
        
                <h2 class="post-title mt-3">
                    <a href="single-post.html">Intel’s new smart glasses actually look good</a>
                </h2>
                <div class="post-meta">
                    <span class="posted-time">an hour ago</span>
                    <span class="post-author">by
                        <a href="author.html">John Snow</a>
                    </span>
                </div>
               
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic sunt minus, perferendis deleniti 
                    facere asperiores voluptatum consequuntur fugiat? Ipsam, sit.
                </p>


            </div>
        </div>
    </div>

    <div class="col-md-6 col-sm-6">
        <div class="post-block-wrapper post-grid-view clearfix">
            <div class="post-thumbnail">
                <a href="single-post.html">
                    <img class="img-fluid" src="images/news/news-03.jpg" alt="post-thumbnail"/>
                </a>
            </div>
            <div class="post-content">
                <a class="post-category" href="post-category-2.html">Apple</a>
               
                <h2 class="post-title title-large mt-3">
                    <a href="single-post.html">Apple HomePod review: locked in</a>
                </h2>
                <div class="post-meta">
                    <span class="posted-time">an hour ago</span>
                    <span class="post-author">by
                        <a href="author.html">John Snow</a>
                    </span>
                </div>
                
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Id magnam dolorum consectetur 
                    obcaecati enim officia, eveniet quibusdam deserunt laboriosam unde
                </p>

            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-6">
        <div class="post-block-wrapper post-grid-view clearfix">
            <div class="post-thumbnail">
                <a href="single-post.html">
                    <img class="img-fluid" src="images/news/news-13.jpg" alt="post-thumbnail"/>
                </a>
            </div>
            <div class="post-content">
                <a class="post-category" href="post-category-2.html">Marc</a>
                
                <h2 class="post-title mt-3">
                    <a href="single-post.html">An Asteroid Is Passing Earth Today: Here's How to</a>
                </h2>
                <div class="post-meta">
                    <span class="posted-time">an hour ago</span>
                    <span class="post-author">by
                        <a href="author.html">John Snow</a>
                    </span>
                </div>
               
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo veritatis odio nesciunt enim? 
                    Eos, aut. Ducimus delectus cupiditate quidem facere?
                </p>

            </div>
        </div>
    </div>
</div>
