<div class="news-style-two">
    <h3 class="news-title">
        <span>Tech</span>
    </h3>
    <div class="row">
        <div class="col-md-6 col-sm-6">
            <div class="post-block-wrapper clearfix">
                <div class="post-thumbnail">
                    <a href="single-post.html">
                        <img class="img-fluid" src="images/news/news-09.jpg" alt="post-thumbnail"/>
                    </a>
                </div>
                <a class="post-category" href="categoty-style1.html">Tech</a>
                <div class="post-content">
                    <h2 class="post-title mt-3">
                        <a href="single-post.html">YouTube will remove ads and downgrade</a>
                    </h2>
                   
                    
                    <div class="post-meta mb-2">
                        <span class="posted-time"><i class="fa fa-clock-o mr-2"></i>5 hours ago</span>
                        <span class="post-author">
                            by
                            <a href="author.html">Tarnak Sunder</a>
                        </span>
                    </div>
                    <p>Lumbersexual meh sustainable Thundercats meditation kogi. Tilde Pitchfork vegan, gentrify minim
                        elit semiotics non messenger bag Austin which roasted</p>
                        
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6">
            <div class="post-list-block m-top-0">
                <div class="post-block-wrapper post-float clearfix">
                    <div class="post-thumbnail">
                        <a href="single-post.html">
                            <img class="img-fluid" src="images/news/news-04.jpg" alt="post-thumbnail"/>
                        </a>
                    </div>

                    <div class="post-content">
                        <h2 class="post-title title-sm">
                            <a href="single-post.html">Intel’s new smart glasses actually look good</a>
                        </h2>
                        <div class="post-meta">
                            <span class="posted-time"><i class="fa fa-clock-o mr-2"></i>7 hours ago</span>
                        </div>
                    </div>
                </div>

                <div class="post-block-wrapper post-float clearfix">
                    <div class="post-thumbnail">
                        <a href="single-post.html">
                            <img class="img-fluid" src="images/news/news-03.jpg" alt="post-thumbnail"/>
                        </a>
                    </div>

                    <div class="post-content">
                        <h2 class="post-title title-sm">
                            <a href="single-post.html">Apple HomePod review: locked in</a>
                        </h2>
                        <div class="post-meta">
                            <span class="posted-time"><i class="fa fa-clock-o mr-2"></i>10 hours ago</span>
                        </div>
                    </div>
                </div>

                <div class="post-block-wrapper post-float clearfix">
                    <div class="post-thumbnail">
                        <a href="single-post.html">
                            <img class="img-fluid" src="images/news/news-07.jpg" alt="post-thumbnail"/>
                        </a>
                    </div>

                    <div class="post-content">
                        <h2 class="post-title title-sm">
                            <a href="single-post.html">Your social media apps want to help</a>
                        </h2>
                        <div class="post-meta">
                            <span class="posted-time"><i class="fa fa-clock-o mr-2"></i>11 hours ago</span>
                        </div>
                    </div>
                </div>

                <div class="post-block-wrapper post-float clearfix">
                    <div class="post-thumbnail">
                        <a href="single-post.html">
                            <img class="img-fluid" src="images/news/news-02.jpg" alt="post-thumbnail"/>
                        </a>
                    </div>

                    <div class="post-content">
                        <h2 class="post-title title-sm">
                            <a href="single-post.html">Flu season rages on,2009 swine flu</a>
                        </h2>
                        <div class="post-meta">
                            <span class="posted-time"><i class="fa fa-clock-o mr-2"></i>12 hours ago</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>