<div class="related-posts-block">
    <h3 class="news-title">
        <span>Related Posts</span>
    </h3>
    <div class="news-style-two-slide">
        <div class="item">
            <div class="post-block-wrapper clearfix">
                <div class="post-thumbnail mb-0">
                    <a href="single-post.html">
                        <img class="img-fluid" src="images/news/news-04.jpg" alt="post-thumbnail"/>
                    </a>
                </div>
                <a class="post-category" href="post-category-1.html">Tech</a>
                <div class="post-content">
                    <h2 class="post-title title-sm">
                        <a href="single-post.html">Intel’s new smart glasses actually look good</a>
                    </h2>
                  
                     
                </div>
            </div>
        </div>
        <div class="item">
            <div class="post-block-wrapper clearfix">
                <div class="post-thumbnail mb-0">
                    <a href="single-post.html">
                        <img class="img-fluid" src="images/news/news-10.jpg" alt="post-thumbnail"/>
                    </a>
                </div>
                <a class="post-category" href="post-category-1.html">Food</a>
                <div class="post-content">
                    <h2 class="post-title title-sm">
                        <a href="single-post.html">Free Two-Hour Delivery From Whole Foods</a>
                    </h2>
                   
                </div>
            </div>
        </div>
        <div class="item">
            <div class="post-block-wrapper clearfix">
                <div class="post-thumbnail mb-0">
                    <a href="single-post.html">
                        <img class="img-fluid" src="images/news/news-11.jpg" alt="post-thumbnail"/>
                    </a>
                </div>
                <a class="post-category" href="post-category-1.html">Tour</a>
                <div class="post-content">
                    <h2 class="post-title title-sm">
                        <a href="single-post.html">Snow and Freezing Rain in Paris Forces the</a>
                    </h2>
                  
                </div>
            </div>
        </div>
        <div class="item">
            <div class="post-block-wrapper clearfix">
                <div class="post-thumbnail mb-0">
                    <a href="single-post.html">
                        <img class="img-fluid" src="images/news/news-18.jpg" alt="post-thumbnail"/>
                    </a>
                </div>
                <a class="post-category" href="post-category-1.html">Beauty</a>
                <div class="post-content">
                    <h2 class="post-title title-sm">
                        <a href="single-post.html">The Best Eye Makeup Tutorials for all</a>
                    </h2>
                    
                </div>
            </div>
        </div>
    </div>
</div>
