<section class="block-wrapper video-block">
	<div class="container">
		<h2 class="video-tab-title">Must Watch</h2>
		<div class="video-tab clearfix">
			<div class="row">
				<div class="col-md-7 pr-0">
					<div class="tab-content">
						<div class="tab-pane fade show active" id="videoTab01">
							<a class="play-icon" href="javascript:void(0)" data-video="https://www.youtube.com/embed/BD5ul7MLvds?autoplay=1">
								<img class="play-button" src="images/play-button.png" alt="play-button">
								<div class="post-thumbnail">
									<img class="img-fluid" src="images/news/video-thumb/thumb-01.jpg" alt="post-thumbnail"/>
								</div>
							</a>
						</div>
						<div class="tab-pane fade" id="videoTab02">
							<a class="play-icon" href="javascript:void(0)" data-video="https://www.youtube.com/embed/pRbhveLaQ9c?autoplay=1">
								<img class="play-button" src="images/play-button.png" alt="play-button">
								<div class="post-thumbnail">
									<img class="img-fluid" src="images/news/video-thumb/thumb-02.jpg" alt="post-thumbnail" />
								</div>
							</a>
						</div>
						<div class="tab-pane fade" id="videoTab03">
							<a class="play-icon" href="javascript:void(0)" data-video="https://www.youtube.com/embed/FpnqHvmJU4U?autoplay=1">
								<img class="play-button" src="images/play-button.png" alt="play-button">
								<div class="post-thumbnail">
									<img class="img-fluid" src="images/news/video-thumb/thumb-03.jpg" alt="post-thumbnail" />
								</div>
							</a>
						</div>
						<div class="tab-pane fade" id="videoTab04">
							<a class="play-icon" href="javascript:void(0)" data-video="https://www.youtube.com/embed/YLZuvTBmmwo?autoplay=1">
								<img class="play-button" src="images/play-button.png" alt="play-button">
								<div class="post-thumbnail">
									<img class="img-fluid" src="images/news/video-thumb/thumb-04.jpg" alt="post-thumbnail" />
								</div>
							</a>
						</div>
						<div class="tab-pane fade" id="videoTab05">
							<a class="play-icon" href="javascript:void(0)" data-video="https://www.youtube.com/embed/_HTXMhKWqnA?autoplay=1">
								<img class="play-button" src="images/play-button.png" alt="play-button">
								<div class="post-thumbnail">
									<img class="img-fluid" src="images/news/video-thumb/thumb-05.jpg" alt="post-thumbnail" />
								</div>
							</a>
						</div>
						<div class="tab-pane fade" id="videoTab06">
							<a class="play-icon" href="javascript:void(0)" data-video="https://www.youtube.com/embed/9O5PhuW927w?autoplay=1">
								<img class="play-button" src="images/play-button.png" alt="play-button">
								<div class="post-thumbnail">
									<img class="img-fluid" src="images/news/video-thumb/thumb-06.jpg" alt="post-thumbnail" />
								</div>
							</a>
						</div>
					</div>
				</div>

				<div class="col-md-5 pl-0">
					<ul class="nav nav-tabs">
						<li class="nav-item nav-link active">
							<a href="#videoTab01" data-toggle="tab">
								<div class="post-thumbnail">
									<img class="img-fluid" src="images/news/video-thumb/thumb-01.jpg" alt="post-thumbnail"/>
								</div>
								<h3>12 Dangerous Side Effects of Working Out</h3>
							</a>
						</li>
						<li class="nav-item nav-link">
							<a href="#videoTab02" data-toggle="tab">
								<div class="post-thumbnail">
									<img class="img-fluid" src="images/news/video-thumb/thumb-02.jpg" alt="post-thumbnail"/>
								</div>
								<h3>7 Food Combinations That Can Ruin Your Health</h3>
							</a>
						</li>
						<li class="nav-item nav-link">
							<a href="#videoTab03" data-toggle="tab">
								<div class="post-thumbnail">
									<img class="img-fluid" src="images/news/video-thumb/thumb-03.jpg" alt="post-thumbnail"/>
								</div>
								<h3>8 Hairstyles That Show a Man’s True Character</h3>
							</a>
						</li>
						<li class="nav-item nav-link">
							<a href="#videoTab04" data-toggle="tab">
								<div class="post-thumbnail">
									<img class="img-fluid" src="images/news/video-thumb/thumb-04.jpg" alt="post-thumbnail" />
								</div>
								<h3>9 Signs You're Eating Too Much Salt</h3>
							</a>
						</li>
						<li class="nav-item nav-link">
							<a href="#videoTab05" data-toggle="tab">
								<div class="post-thumbnail">
									<img class="img-fluid" src="images/news/video-thumb/thumb-05.jpg" alt="post-thumbnail" />
								</div>
								<h3>iPhone X Impressions & Hands On!</h3>
							</a>
						</li>
						<li class="nav-item nav-link">
							<a href="#videoTab06" data-toggle="tab">
								<div class="post-thumbnail">
									<img class="img-fluid" src="images/news/video-thumb/thumb-06.jpg" alt="post-thumbnail" />
								</div>
								<h3>Driving a Tesla Model 3! [Auto Focus Ep. 1]</h3>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>