<div class="widget">
    <h3 class="news-title">
        <span>Hot News</span>
    </h3>

    <div class="post-overlay-wrapper">
        <div class="post-thumbnail">
            <img class="img-fluid" src="images/news/news-15.jpg" alt="post-thumbnail"/>
        </div>
        <div class="post-content">
            <a class="post-category white" href="post-category-1.html">Fashion</a>
            <h2 class="post-title">
                <a href="single-post.html">First Look At Self-Portrait's Autumn Collection...</a>
            </h2>
            <div class="post-meta white">
                <span class="posted-time"><i class="fa fa-clock-o mr-1"></i>17 jun,2019</span>
                <span> by </span>
                <span class="post-author">
                    <a href="author.html">Jammy Anderson</a>
                </span>
            </div>
        </div>
    </div>
    <div class="post-list-block">
        <div class="post-block-wrapper post-float ">
            <div class="post-thumbnail">
                <a href="single-post.html">
                    <img class="img-fluid" src="images/news/news-03.jpg" alt="post-thumbnail"/>
                </a>
            </div>
            <div class="post-content">
                <h2 class="post-title title-sm">
                    <a href="single-post.html">Apple HomePod review: locked in</a>
                </h2>
                <div class="post-meta">
                    <span class="posted-time"><i class="fa fa-clock-o mr-1"></i>2 hours ago</span>
                </div>
            </div>
        </div>
        <div class="post-block-wrapper post-float">
            <div class="post-thumbnail">
                <a href="single-post.html">
                    <img class="img-fluid" src="images/news/news-05.jpg" alt="post-thumbnail"/>
                </a>
            </div>
            <div class="post-content">
                <h2 class="post-title title-sm">
                    <a href="single-post.html">Intel’s new smart glasses actually look good</a>
                </h2>
                <div class="post-meta">
                    <span class="posted-time"><i class="fa fa-clock-o mr-1"></i> 15 March , 2019</span>
                </div>
            </div>
        </div>
        <div class="post-block-wrapper post-float">
            <div class="post-thumbnail">
                <a href="single-post.html">
                    <img class="img-fluid" src="images/news/news-11.jpg" alt="post-thumbnail"/>
                </a>
            </div>

            <div class="post-content">
                <h2 class="post-title title-sm">
                    <a href="single-post.html">Free Two-Hour Delivery From Whole Foods</a>
                </h2>
                <div class="post-meta">
                    <span class="posted-time"><i class="fa fa-clock-o mr-1"></i> 5 hours ago</span>
                </div>
            </div>
        </div>
        <div class="post-block-wrapper post-float">
            <div class="post-thumbnail">
                <a href="single-post.html">
                    <img class="img-fluid" src="images/news/news-06.jpg" alt="post-thumbnail"/>
                </a>
            </div>

            <div class="post-content">
                <h2 class="post-title title-sm">
                    <a href="single-post.html">Here's How To Get Free Pizza On</a>
                </h2>
                <div class="post-meta">
                    <span class="posted-time"><i class="fa fa-clock-o mr-1"></i> 17 June, 2019</span>
                </div>
            </div>
        </div>
    </div>
</div>