<div class="widget">
    <h3 class="news-title">
        <span>Stay in touch</span>
    </h3>

    <ul class="list-inline social-widget">
        <li class="list-inline-item">
              <a class="social-page youtube" href="#">
                <i class="fa fa-play"></i>
            </a>
        </li>
        <li class="list-inline-item">
            <a class="social-page facebook" href="#">
               <i class="fa fa-facebook"></i>
            </a>
        </li>
        <li class="list-inline-item">
            <a class="social-page twitter" href="#">
                <i class="fa fa-twitter"></i>
            </a>
        </li>
        <li class="list-inline-item">
            <a class="social-page pinterest" href="#">
                <i class="fa fa-pinterest"></i>
            </a>
        </li>
         <li class="list-inline-item">
            <a class="social-page linkedin" href="#">
                <i class="fa fa-linkedin"></i>
            </a>
        </li>
       
        <li class="list-inline-item">
            <a class="social-page youtube" href="#">
                <i class="fa fa-youtube"></i>
            </a>
        </li>

    </ul>

</div>