<div class="widget mb-0">
    <h3 class="news-title">
        <span>Newsletter</span>
    </h3>
    <div class="ts-newsletter">
        <div class="newsletter-introtext">
            <h4>Get Updates</h4>
            <p>Subscribe our newsletter to get the best stories into your inbox!</p>
        </div>

        <div class="newsletter-form">
            <form action="#" method="post">
                <div class="form-group">
                    <input type="email" name="email" id="newsletter-form-email" class="form-control form-control-lg" placeholder="E-mail" autocomplete="off">
                    <button class="btn btn-primary">Subscribe</button>
                </div>
            </form>
        </div>
    </div>
</div>