<div class="widget">
    <h3 class="news-title">
        <span>Top Authors</span>
    </h3>
    <div class="post-list-block">
        <div class=" review-post-list">
            <div class="top-author">
                <img src="images/news/author-01.jpg" alt="author-thumb">
                <div class="info">
                    <h4 class="name"><a href="author.html">Jack Rockshow</a></h4>
                    <ul class="list-unstyled">
                        <li>37 Posts</li>
                    </ul>
                </div>
            </div>
            <div class="top-author">
                <img src="images/news/author-02.jpg" alt="author-thumb">
                <div class="info">
                    <h4 class="name"><a href="author.html">Lint Handson</a></h4>
                    <ul class="list-unstyled">
                        <li>28 Posts</li>
                    </ul>
                </div>
            </div>
            <div class="top-author">
                <img src="images/news/author-03.jpg" alt="author-thumb">
                <div class="info">
                    <h4 class="name"><a href="author.html">Ronny Robeen</a></h4>
                    <ul class="list-unstyled">
                        <li>19 Posts</li>
                    </ul>
                </div>
            </div>
             <div class="top-author">
                <img src="images/news/author-02.jpg" alt="author-thumb">
                <div class="info">
                    <h4 class="name"><a href="author.html">Handson</a></h4>
                    <ul class="list-unstyled">
                        <li>18 Posts</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>